main {
  margin-top: 58px;
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
}
.pagetop span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  background: #2b2b2b;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  opacity: 0.8;
}

.particles-bg {
  position: relative;
}
.particles-bg .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}