html {
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	line-height: 1.6;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	overflow-wrap: break-word;
	word-break: normal;
}

a {
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}
a:focus, a:active, a:hover {
	outline: 0;
}

p {
	margin: 0 0 2em;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}



/* ----------------------------------------
* レスポンシブ
* ~ / 1200px / 991px / 767px 
* desctop / laptop / tablet / phone
---------------------------------------- */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.33%; }
.col-12 { width: 100%; }
.col-1-5 { width: 20%; }
.col-sub { width: 37.31%; }
.col-main { width: 62.68%; }

@media screen and (max-width: 1200px) {
	/* laptop */

	/* laptop end */
}
@media (min-width: 992px) and (max-width: 1200px) {
	/* laptop only */
	.col-1-lt { width: 8.33% !important; }
	.col-2-lt { width: 16.66% !important; }
	.col-3-lt { width: 25% !important; }
	.col-4-lt { width: 33.33% !important; }
	.col-5-lt { width: 41.66% !important; }
	.col-6-lt { width: 50% !important; }
	.col-7-lt { width: 58.33% !important; }
	.col-8-lt { width: 66.66% !important; }
	.col-9-lt { width: 75% !important; }
	.col-10-lt { width: 83.33% !important; }
	.col-11-lt { width: 91.33% !important; }
	.col-12-lt { width: 100% !important; }
	.col-1-5-lt { width: 20% !important; }
	.col-sub-lt { width: 37.31% !important; }
	.col-main-lt { width: 62.68% !important; }
	/* laptop only end */
}
@media screen and (max-width: 991px) {
	/* tablet */
	.col-1-tb { width: 8.33% !important; }
	.col-2-tb { width: 16.66% !important; }
	.col-3-tb { width: 25% !important; }
	.col-4-tb { width: 33.33% !important; }
	.col-5-tb { width: 41.66% !important; }
	.col-6-tb { width: 50% !important; }
	.col-7-tb { width: 58.33% !important; }
	.col-8-tb { width: 66.66% !important; }
	.col-9-tb { width: 75% !important; }
	.col-10-tb { width: 83.33% !important; }
	.col-11-tb { width: 91.33% !important; }
	.col-12-tb { width: 100% !important; }
	.col-1-5-tb { width: 20% !important; }
	.col-sub-tb { width: 37.31% !important; }
	.col-main-tb { width: 62.68% !important; }

	/* tablet end */
}
@media (min-width: 768px) and (max-width: 991px) {
	/* tablet only */
	.col-1-tb { width: 8.33% !important; }
	.col-2-tb { width: 16.66% !important; }
	.col-3-tb { width: 25% !important; }
	.col-4-tb { width: 33.33% !important; }
	.col-5-tb { width: 41.66% !important; }
	.col-6-tb { width: 50% !important; }
	.col-7-tb { width: 58.33% !important; }
	.col-8-tb { width: 66.66% !important; }
	.col-9-tb { width: 75% !important; }
	.col-10-tb { width: 83.33% !important; }
	.col-11-tb { width: 91.33% !important; }
	.col-12-tb { width: 100% !important; }
	.col-1-5-tb { width: 20% !important; }
	.col-sub-tb { width: 37.31% !important; }
	.col-main-tb { width: 62.68% !important; }
	/* tablet only end */
}
@media screen and (max-width: 767px) {
	/* phone */
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12,
	.col-1-5,
	.col-sub,
	.col-main { width: 100%; }

	.col-1-sp { width: 8.33% !important; }
	.col-2-sp { width: 16.66% !important; }
	.col-3-sp { width: 25% !important; }
	.col-4-sp { width: 33.33% !important; }
	.col-5-sp { width: 41.66% !important; }
	.col-6-sp { width: 50% !important; }
	.col-7-sp { width: 58.33% !important; }
	.col-8-sp { width: 66.66% !important; }
	.col-9-sp { width: 75% !important; }
	.col-10-sp { width: 83.33% !important; }
	.col-11-sp { width: 91.33% !important; }
	.col-12-sp { width: 100% !important; }
	.col-1-5-sp { width: 20% !important; }
	.col-sub-sp { width: 37.31% !important; }
	.col-main-sp { width: 62.68% !important; }
	/* phone end */
}



// 変数宣言 ----------------------------

// 色
$color-accent01: #f390b0; // ピンク
$color-sub01:    #51b0cf; // 青
$color-base01:   #e8f9ff; // 薄い青
$color-text01:   #000755; // 暗い青

// 基本設定 ----------------------------

// リンク
a { text-decoration: none; cursor: pointer;
	&.cmn-link { color: $color-sub01; text-decoration: underline; }
	&.d-block { display: block; }
	&.scroll-point {
		height: 1px;
		display: block;
		margin-top: -58px;
		padding-top: 58px;
		cursor: unset;
	}
	&:hover { opacity: 0.5; }
}

// margin
.m0   { margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }

// padding
.p0   { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }
.p10  { padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; }
.p20  { padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; }
.p30  { padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }

// コンテナ
.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}
.inner {
	margin: 0 auto;
	max-width: 700px;
}

// 文字
.note { font-size: 0.8rem; }
.bold { font-weight: bold; }
.text-center { text-align: center; }

// 文字色
.text-accent01 { color: $color-accent01; }
.text-sub01 { color: $color-sub01; }

// flex
.row { display: flex; flex-wrap: wrap; }

// grid
.gr2 { display: grid; grid-template-columns: repeat( 2, 1fr ); }
.gr3 { display: grid; grid-template-columns: repeat( 3, 1fr ); }
.gr4 { display: grid; grid-template-columns: repeat( 4, 1fr ); }

@media (min-width: 768px) and (max-width: 991px) {
	/* tablet only */
	.gr1-tb { display: grid; grid-template-columns: repeat( 1, 1fr ); }
	.gr2-tb { display: grid; grid-template-columns: repeat( 2, 1fr ); }
	.gr3-tb { display: grid; grid-template-columns: repeat( 3, 1fr ); }
	.gr4-tb { display: grid; grid-template-columns: repeat( 4, 1fr ); }
	.gr5-tb { display: grid; grid-template-columns: repeat( 5, 1fr ); }
	/* tablet only end */
}

@media screen and (max-width: 767px) {
	/* phone */
	.gr1-sp { display: grid; grid-template-columns: repeat( 1, 1fr ); }
	.gr2-sp { display: grid; grid-template-columns: repeat( 2, 1fr ); }
	.gr3-sp { display: grid; grid-template-columns: repeat( 3, 1fr ); }
	.gr4-sp { display: grid; grid-template-columns: repeat( 4, 1fr ); }
	.gr5-sp { display: grid; grid-template-columns: repeat( 5, 1fr ); }
}

// gap
.gap10 { gap: 10px; }
.gap20 { gap: 20px; }
.gap30 { gap: 30px; }
.gap40 { gap: 40px; }
.gap50 { gap: 50px; }
.gap60 { gap: 60px; }

// レイアウト flex grid
.align-center { align-items: center; }
.align-end { align-items: flex-end; align-items: end; }

// 線
.border { border:solid 3px;
	&.sub01 { border-color: $color-sub01; }
}
.border-btm { border-bottom: solid 2px;
	&.accent01 { border-color: $color-accent01; }
	&.sub01 { border-color: $color-sub01; }
}

// 背景
.bg-white  { background-color: #fff; }
.bg-accent01 { background-color: $color-accent01; }
.bg-base01 { background-color: $color-base01; }
.bg-sub01  { background-color: $color-sub01; }

// 丸み
.rounded { border-radius: 20px; }
.circle { border-radius: 50%; overflow: hidden; } // 円

// 影
.shadow {
	border: solid 1px #ccc;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 30%);
}

// 見出し
.ttl01 {
	margin-bottom: 20px;
	text-align: center;
	span {
		position: relative;
		width:50%;
		margin: 0 auto 10px;
		display: block;
		font-size: 2rem;
		font-weight: bold;
		border-bottom: 4px solid $color-base01;
		&:after {
			position: absolute;
			bottom: -4px;
			left: 0;
			z-index: 2;
			content: '';
			width: 20%;
			height: 4px;
			background-color: $color-accent01;
		}
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: bold;
		font-size: 1.1rem;
	}
	&.ttl-white span { border-color: #fff; }
}

.ttl02 {
	display: flex;
	span {
		width: 80px;
		height: 80px;
		z-index: 1;
		background-color: $color-sub01;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.ttl02-h {
		width: 100%;
		margin: auto 0 auto -40px;
		padding: 10px 0 10px 50px;
		background-color: $color-base01;
		border: solid 1px $color-sub01;
		border-radius: 20px;
		font-weight: bold;
		font-size: 1.1rem;
		color: $color-text01;
	}
}

.ttl03 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	color: $color-text01;
}

// ボックス
.box {
	position: relative;
	margin-top: 50px;
	padding: 30px;
	background-color: #fff;
	border: solid 2px;
	.box-ttl {
		position: absolute;
		top: -15px;
		left: 30px;
		padding: 5px 10px;
	}
	&.box-accent01 {
		border-color: $color-accent01;
		.box-ttl {
			color: #fff;
			background-color: $color-sub01;
		}
	}
}

// ボタン
.btn {
	display: inline-block;
	text-decoration: none;
	border: solid 1px;
	border-radius: 5px;
	//-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 5%);
	//box-shadow: 0 0 10px rgb(0 0 0 / 5%);
	padding: 1rem 2rem;
	line-height: 1;
	position: relative;
	text-align: center;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	&:after {
		content: "\f054";
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		margin-left: 5px;
	}
	&.btn-accent01 {
		color: #fff;
		border-color: $color-accent01;
		background-color: $color-accent01;
		&:hover {
			color: $color-accent01;
			background-color: unset;
			font-weight: bold;
		}
	}
}



// レスポンシブ -------------------------------------


@media screen and (min-width: 992px) { // PC

.pc-none { display: none; }

} // END PC


@media (min-width: 768px) and (max-width: 991px) { // tablet only

.tb-none { display: none; }

} // END tablet only


@media screen and (max-width: 767px) { // SP

.sp-none { display: none; }

} // END SP